body{
    background: radial-gradient(circle at top right, #123a63, #050b18);
    min-height: 100vh;
    font-family: "Reddit Sans", sans-serif;
    line-height: 150%;
}
.auth-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-wrapper .container{max-width: 580px;}
.icons img{
    width: 40px;
    margin: 0 6px;
}
.btn-primary{
    background:#3B82F6;
    border: none;
}
.head-lanjut{
    font-size: 24px;
    font-weight: 600;
}
.desc-lanjut{
    color:#B3B9C4;
    font-size: 16px;
    font-weight: 400;
}

/* Register Blade */
.start-text{
    font-size: 24px;
    font-weight: 600;
}
.insight-text{
    color:#B3B9C4;
    font-size: 16px;
    font-weight: 400;
}
.btn-regist{
    background:#3898FF;
    border-color: transparent;
    color:#FFFFFF;
    border-radius: 4px;
    min-height: 24px;
    padding: 12px 8px;
    font-size: 14px;
    font-weight: 500;
}
.btn-regist:hover{
    background: transparent;
    border: 1px solid #3898FF;
    color:#3898FF;
}
.btn-take{
    background:transparent;
    border:1px solid #3898FF;
    color:#3898FF;
    border-radius: 4px;
    min-height: 24px;
    padding: 12px 8px;
    font-size: 14px;
    font-weight: 500;
}
.btn-take:hover{background:#3898FF;}
.btn-retake{
    background:#22C55E;
    border-color: transparent;
    color:#FFFFFF;
    border-radius: 4px;
    min-height: 24px;
    padding: 12px 8px;
    font-size: 14px;
    font-weight: 500;
}
.btn-retake:hover{
    background: transparent;
    border: 1px solid#22C55E;
    color:#22C55E;
}
.btn-upload{border: 1px solid#3898FF;}
.btn-upload:hover{
    background:#3898FF;
    color:#FFF;
}
.atau-text{
    color:#7A8699;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 2%;
}
.btn-login{
    border-color:#3898FF;
    color:#3898FF;
    border-radius: 4px;
    min-height: 24px;
    padding: 12px 8px;
    font-size: 14px;
    font-weight: 500;
}
.icon-regist{
    width: 72px;
    height: 72px;
    background:#192234;
    padding: 16px;
    border-radius: 40px;
}

/* Mobile */
.phone-input{
    display: flex;
    border: 1px solid #2f4f73;
    border-radius: 8px;
    overflow: hidden;
    background: transparent;
}
.phone-prefix{
    padding: 12px 14px;
    background: transparent;
    color:#FFF;
    border-right: 1px solid #2f4f73;
    font-size: 14px;
}
.phone-number{
    border: none;
    background: transparent;
    color:#FFF;
}
.phone-number:focus{
    box-shadow: none;
    outline: none;
}

/* OTP */
.resend{
    font-size: 14px;
    margin-bottom: 30px;
}
.resend a{
    color:#3DA5FF;
    text-decoration: none;
    font-weight: 600;
}

/* Username Box */
.username-suggest{
    border: 1px solid #2b4f7a;
    border-radius: 16px;
    padding: 16px;
    margin-top: 10px;
    background: rgba(5,20,40,0.9);
}
.suggest-header{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color:#FFF;
}
.suggest-item{
    font-size: 14px;
    color:#FFF;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #1C3556;
}
.use-btn{
    color:#4DA3FF;
    cursor: pointer;
}
.input-eye{position: relative;}
.eye-btn {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color:#AAA;
    font-size: 16px;
}

/* PIN Trading */
.pin-wrapper{
    display:flex;
    justify-content:center;
    gap:12px;
}
.pin-input{
    width:44px;
    height:44px;
    border-radius:50%;
    border:2px solid #2f466b;
    background:#243757;
    text-align:center;
    font-size:20px;
    color: transparent;
    caret-color: transparent;
    transition: all 0.2s ease;
}
.pin-input:focus{
    border-color:#3898FF;
    box-shadow:0 0 0 3px rgba(56,152,255,0.2);
}
.pin-info{
    background:#1c2a44;
    padding:12px;
    border-radius:10px;
    color:#ccc;
    font-size:14px;
}
.pin-input.filled {
    background:#3898FF;
    border:6px soliid#133254;
}
.pin-input.show-pin{
    background: transparent;
    color:#FFF;
    caret-color:#FFF;
}

/* Referral Blade */
.btn-back{font-size: 20px;}
.text-form-global{
    color:#FDFDFD;
    font-size: 14px;
    font-weight: 600;
}
.form-global{
    background: transparent;
    border:1px solid#3898FF;
    color:#3898FF;
    border-radius: 4px;
    min-height: 45px;
    padding: 12px;
    gap: 8px;
    color:#FFFFFF;
    font-size: 14px;
    font-weight: 400;
}
.form-global::placeholder{
    color:#7A8699;
    opacity: 1;
}
.input-group-text{
    background: transparent;
    border:1px solid#3898FF;
    color:#FFF;
    font-size: 14px;
    font-weight: 400;
}
.select-wrapper{position: relative;}
.select-wrapper::after{
    content: "\f107";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    pointer-events: none;
}
.select2-container--default .select2-selection--single {
    background: transparent !important;
    border: 1px solid #3898FF !important;
    border-radius: 4px;
    min-height: 45px;
    padding: 12px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: unset;
    color:#FFF !important;
}
.select2-container--default .select2-results__option--selected{
    background:#3898FF;
    color: #FFF;
}
.select2-container--default .select2-results>.select2-results__options {
    background: #050E18;
    color: #FFF;
    font-size: 14px;
    border: unset;
    padding: 10px 5px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    min-height: 45px;
    border-radius: 5px;
    border: 1px solid#FFF !important;
    margin-top: 10px;
}
.select2-container .select2-selection--single{height: auto !important;}
.select2-selection__rendered{padding-left: 0px !important;}
.select2-search--dropdown {
    background: #050E18;
    display: block;
    padding: 8px;
    height: auto;
}
.select2-search__field{
    background: #050E18;
    font-size: 14px;
    color: #FFF;
}
.select2-selection__arrow{display: none ;}
.date-wrapper{position: relative;}
.date-wrapper::after {
    content: "\f073";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 14px;
    pointer-events: none;
}
.date-wrapper input{padding-right: 40px;}
.lewati-text{
    min-height: 24px;
    padding: 12px 8px;
    color:#3898FF;
    font-size: 14px;
    font-weight: 500;
}
.card-referral{
    background:#0D1D33;
    border-radius: 16px;
    padding: 20px 15px
}
.title-referral{
    font-size: 14px;
    font-weight: 600;
    color:#B3B9C4;
}
.text-referral{
    font-size: 16px;
    font-weight: 600;
    color:#FAFBFB;
}

/* Customer Type */
.customer-type-card{
    border: 1px solid #2f466b;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
}
.customer-type-card input[type="radio"]{display: none;}
.product-content{flex:1;}
.radio-circle{
    width:20px;
    height:20px;
    border-radius:50%;
    border:2px solid #ccc;
    position: relative;
    flex-shrink:0;
}
.radio-circle::after{
    content:"";
    width:10px;
    height:10px;
    border-radius:50%;
    background:#3898FF;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) scale(0);
    transition:0.2s;
}
.customer-type-card input:checked + .product-content + .radio-circle{border-color:#3898FF;}
.customer-type-card input:checked + .product-content + .radio-circle::after{transform:translate(-50%, -50%) scale(1);}
.customer-type-card:has(input:checked){
    border-color:#3898FF;
    background:rgba(56,152,255,0.08);
}
.rek-saham-type{
    color:#FDFDFD;
    font-size: 16px;
    font-weight: 600;
}
.rek-saham-txt{
    color:#FDFDFD;
    font-size: 14px;
    font-weight: 600;
}
.rek-saham-desc{
    color:#B3B9C4;
    font-size: 14px;
    font-weight: 400;
}

/* Create Account */
.username-rule{margin-top: 10px;}
.rule-item{
    display: flex;
    align-items: center;
    gap: 10px;
    color:#9CA3AF;
    font-size: 14px;
}
.rule-icon{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1.5px solid#9CA3AF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color: transparent;
}
.rule-item.active{color:#22C55E;}
.rule-item.active .rule-icon{
    background:#22C55E;
    border-color:#22C55E;
    color:#0F172A;
}

/* Login */
.congrats-text{
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
}
.silahkan-cek-text{
    font-size: 16px;
    font-weight: 400;
    color:#B3B9C4;
}
.email-text{
    font-size: 16px;
    font-weight: 400;
    color:#3898FF;
}
.resend-otp{
    color:#B3B9C4;
    font-size: 14px;
    font-weight: 400;
}
.resend-link{
    color:#3898FF;
    font-weight: 600;
}

/* Progress Bar */
.step-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.step-back, .step-callcenter, .step-headset{
    color:#FFF;
    font-size: 24px;
    text-decoration: none;
}
.step-text{
    color:#3898FF;
    font-size: 14px;
    font-weight: 500;
}
.step-progress {
    display: flex;
    gap: 6px;
}
.step-segment {
    flex: 1;
    height: 4px;
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    transition: all 0.3s ease;
}
.step-segment.active {
    background: #4DA3FF;
}

/*  */
.swal2-title{
    font-size: 22px;
    line-height: 32px;
}

/* Dropdown Ajax */
.custom-select-wrapper{position: relative;}
.dropdown-list{
    position: absolute;
    width: 100%;
    background:#0F172A;
    border: 1px solid#1E293B;
    border-radius: 10px;
    max-height: 250px;
    overflow-y: auto;
    z-index: 999;
    display: none;
}
.dropdown-item{
    padding: 10px 14px;
    cursor: pointer;
    border-bottom: 1px solid#1E293B;
}
.dropdown-item:hover{background:#1E293B;}
.item-main{
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
}
.item-sub{
    font-size: 13px;
    color:#94A3B8;
}
.dropdown-loading, .dropdown-empty, .dropdown-error {
    font-size: 14px;
    padding: 12px;
    text-align: center;
    color:#94A3B8;
}

/* Signature */
.signature-page{
    min-height: 100vh;
    background: radial-gradient(circle at top, #0d2a5a, #020c1f);
}
.signature-card{
    border-radius: 16px;
    /* padding: 30px 20px; */
    background: rgba(255,255,255,0.03);
    border: 1px solid rgba(255,255,255,0.1);
}
.signature-pad-wrapper{border-radius: 16px;}
#signature-pad{
    width: 100%;
    height: 315px;
}
.btn-secondary{
    background: #8c95a3;
    border: none;
    color: white;
}
.btn-secondary:disabled{opacity: 0.5;}
.btn-outline-light{
    border: 1px solid #4da3ff;
    color: #4da3ff;
}
.btn-danger-outline{
    border: 1px solid#EA5D5F !important;
    color:#EA5D5F !important;
    background: transparent !important;
}
.btn-danger-outline:hover{
    background:#EA5D5F !important;
    color:#FFF !important;
}
#removeKtp{
    background:#EA5D5F;
    padding: 12px;
    font-size: 14px;
    font-weight: 400;  
}
.sk-text{
    font-size: 14px;
    font-weight: 400;
}
.sk-desc{
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}
.bdr-sk{
    border:1px solid#202B41;
    width: 100%;
    margin: 20px 0;
}
.agreement-text{
    font-size: 14px;
    font-weight: 500;
}

/*  */
.input-error{border: 1px solid#EA5D5F !important;}
.error-text{
    color:#EA5D5F;
    font-size: 14PX;
    margin-top: 4px;
    width: 100%;
}
.alert-bank{
    background:#1c2a44;
    border: 1px solid#E6D112;
    border-radius: 8px;
    padding: 12px;
}

/*  */
.step-box{
    background: linear-gradient(194.04deg, #3898FF -293.37%, rgba(34, 91, 153, 0) 88.93%);
    border: 1px solid #243757;
    border-radius: 8px;
    padding: 12px;
}
.circle{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.circle.done{
    background:#17D98C;
    color:#020617;
    width: 40px;
    height: 40px;
}
.circle.active{
    background:#17D98C;
    color:#020617;
    width: 40px;
    height: 40px;
}
.circle.inactive{
    background:#B3B9C4;
    color:#020617;
    width: 40px;
    height: 40px;
}
.text-step-dashboard{
    font-size: 14px;
    font-weight: 600;
}

@media (min-width: 768px){
    .mobile-only {
        display: none !important;
    }
}
#cameraWrapper{
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}
#video{
    width: 100%;
    height: auto;
    object-fit: cover;
}
#ktpFrame{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    aspect-ratio: 1.58; /* rasio KTP */
    transform: translate(-50%, -50%);
    border: 3px solid red;
    border-radius: 12px;
    box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
}
.frame-text{
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 12px;
}
.verification-list{
    background:#050E18;
    border-radius: 24px;
    padding: 20px 24px;
    border: 1px solid#243757;
}
.step-verification-wrapper{
    display:flex;
    align-items:flex-start;
    justify-content:space-between;
    position:relative;
}
.step-verification-item{
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
    z-index:2;
}
.step-verification-circle{
    width:30px;
    height:30px;
    border-radius:50%;
    background:#182744;
    display:flex;
    align-items:center;
    justify-content:center;
}
.step-verification-circle.done {
    background:#3B82F6;
    color:#FFF;
    font-size: 14px;
    width: 30px;
    height: 30px;
}
.step-verification-circle.current{
    background:#FFF;
    border:5px solid#3B82F6;
    width: 30px;
    height: 30px;
}
.step-verification-line{
    flex:1;
    height:6px;
    background:#182744;
    margin-top:12px;
}
.step-verification-line.active{
    background:#4DA3FF;
}
.verification-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}
.icon-box{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#192234;
}
.verification-title, .step-verification-label{
    color:#FFF;
    font-size:14px;
    font-weight: 400;
    letter-spacing: 2%;
}